
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}


/* header create start */

header{
    width: full;
    height: 652px;
    background-image: url("/assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-content{
    width: 998px;
    height: 481px;
    
    
    position: absolute;
   top:80px;
   left: 170px;
   text-align: center;
   line-height: 24px;
}
.header-img{
    width: 240px;
    height: 200px;
}

.header-content .header-p{
    font-size: 16px;
    margin-top: 24px;
    color: #0D1321;
    margin-bottom: 35px;

}
.header-title{
    margin-top: 18px;
    font-size: 38px;
    line-height: 50px;
    color: #0D1321;

}

.header-content .btn{
width: 200px;
height: 55px;
background-color: #0D1321;
padding: 18px 21px;
color: wheat;
border-radius: 8px;
cursor: pointer;
text-decoration: none;
}


/* main section start from here */


.why-we-webdeveloper{
    
   
    width: 1140px;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 76px auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    
}

.Developer-title{
    width: 80%;
    height: 133px;
    
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
   
}
.Developer-h2{
    margin-bottom: 20px;

}

.Developer-content{
    margin-top: 32px;
    width: 80%;
    justify-content: space-between;
    display: flex;
  background-color: #ffff;
  border-radius: 5px;
  padding: 20px 20px;
  height: 240px;
}

/* .Developer-content .right-img{
    width: 2px;
    height: 217px;

}
.Developer-content .left-img{
    width: 2px;
    height: 217px;

} */
.Developer-content-title .Developer-h3{
    color: #0D1321;
    opacity: 0.7;
    margin-bottom: 15px;
}

.Developer-p{
    margin-bottom: 35px;
    color: #0D1321;
    
}

.learn-more{
   
    border: 2px solid gray;
    padding: 10px 10px;
    border-radius: 3px;
    text-decoration: none;
    color: gray;
}


/* section my-insparation start */

.my-insparation{
    width: 1140px;
    height: 100vh;
   
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.my-insparation-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.Inspiration-title{
    color: #0D1321;

}

.Inspiration-p{
    color: gray;
    margin-top: 15px;

}

.youtube-video{
    width: 1140px;
    padding: 30px 30px;
    border: 2px solid #80808088;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    border-radius: 20px 20px 20px 20px;


}

/* my-current-target start here */
.my-current-target{

    width: 1140px;
    height:400px;
   
    margin: 151px auto;
 

}
.current-title-content{
    text-align: center;
    margin-top: 0px;
    
}
.current-target-p{
    color: gray;
    margin-top: 12px;
}
.Html-content{
    width: 364px;
    height: 299px;
    background-color: #ff4b1e21;
    padding: 30px;
    

}
.sky-color{
    background-color: #87cfeb25;
}
.yeallow-color{
    background-color: #ffff0038;
}

.lenguse-content{
    display: flex;
    justify-content: center;
    gap:10px;
    margin-top: 30px;

    
}

.languse-p{
    margin-top: 15px;
    color: gray;
    margin-bottom: 15px;

}
.learnbtn{
   margin-top: 20px;
    color: black;
}


.buttom-img{
    width: 1140px;
    height: 313px;
    border-radius: 10px;
    margin:auto;
    background-image: url("/assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
    
    
    
    
}
.buttom-p{
    margin-top: 20px;

}
.input{
    padding:10px 10px;
    border: none;
    margin-top: 20px;
}
.submit{
    padding:10px 10px;
    border: none;
    margin-top: 20px;
}
footer{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 60px;
    margin:auto;
    align-items: center;
    background-color: #f1f1f1;
    padding: 0 20px;
}

